body, html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Open Sans", arial;
}

body { -webkit-animation:fadein 1.5s; animation:fadein 1.5s }
@-webkit-keyframes fadein { from {opacity:0.5} to {opacity:1} }
@keyframes fadein { from {opacity:0.5} to {opacity:1} }

a {
    text-decoration: none;
}

a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: none;
}

.wrapping-container {
    max-width: 1000px;
    margin: 0 auto;
}

/* ----------- header ----------------- */
.header {
    font-family: "Quicksand", sans-serif;
    font-size: 8em;
    color: #ffffff;
}

.header-sub {
    font-family: "Quicksand", sans-serif;
    font-size: 0.5em;
    color: #ffffff;
    position: relative;
    top: -21px;
}

/* ----------- Layout ----------------- */
#start {
    background: url(../media/bg.jpg) no-repeat center center fixed ;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: auto !important;
    min-height: 100%;
    overflow-x: hidden;
    position: relative;
    text-align: right;

    /*Align header center center */
    display: -webkit-flex;
    display:         flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

section {
    width: 100%;
}

.flexbox-container {
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    justify-content: center;
}

.items {
    flex: 1;
    width: 30%;
    flex-basis: auto;
    font-size: 1rem;
}

.left-item{
    padding-right: 50px;
}

.right-item{
    padding-left: 50px;
}

/*--------Animate underline on links -----------*/
.items-header, .site-nav a {
    position: relative;
    text-decoration: none;
}

.items-header:before,
.site-nav a:before
{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ededed;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.items-header:hover:before,
.site-nav a:hover:before
{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.site-nav a:before {
    background-color: rgba(243, 242, 238, 0.55);
}
/*-----------------------------------------------*/

.offers {
    background-color: #F2F3EE;
    border: 3px solid #ffffff;
    box-sizing: border-box;
    float: left;
    height: 6rem;
    font-size: 4em;
    font-family: "Quicksand", sans-serif;

    /*Align center center */
    display: -webkit-flex;
    display:         flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;

    /*make div square ratio */
    width: 24.5vw;
    height:24.5vw;
}

.item-img {
    width: 100%;
    max-width: 375px;
    -webkit-transition: -webkit-transform 0.3s ease;
    -moz-transition: -moz-transform 0.3s ease;
    transition: transform 0.3s ease;
}
.item-img:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

#portfolio{
    background-color: #fff;
    text-align: center;
    border-bottom: 1px rgb(237, 237, 237) solid;
}

.references-header {
    font-size: 4em;
    font-family: "Quicksand", sans-serif;
    font-weight: normal;
    margin-bottom: 30px;
    margin-top: 30px;
}

.reference-desc {
    padding: 2rem 0.5rem;
}

.references-preamble {
    font-family: Quicksand, sans-serif;
    font-size: 2em;
    color: #FF9C0C;
    font-weight: 500;
    letter-spacing: -0.5px;
    margin-top: 0.8rem;
}

.reference-text {
    line-height: 1.5;
    color: rgb(89, 89, 89);
}

.fader {
    height: 10px;
    position: relative;
    top: -10px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&amp;0.01+0,1+100 */
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.01) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.01)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.01) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0.01) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0.01) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0.01) 0%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.welcome-arrow {
    position: absolute;
    bottom: 10px;
    cursor: pointer;
}
.welcome-arrow:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
}

.arrow-container {
    text-align: center;
    color: #ffffff;
    opacity: 0.5;
}
/* ----------- Footer and social ----------------- */

/* ----------- Items ----------------- */

.items-header {
    margin: 0;
    text-transform: uppercase;
    font-size: 2.4em;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    letter-spacing: 6px;
    
}

.reference-desc a {
    color: #000;
}

.items-preamble {
    font-family: Quicksand, sans-serif;
    color: #FF9C0C;
    font-size: 2em;
    margin: 1.1rem;
    font-weight: 500;
    letter-spacing: -0.5px;
}

/* ----------- About -------------------------- */
section#about {
    margin: 1rem auto;
    font-family: Quicksand, sans-serif;
}

.about-header {
    font-size: 4em;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;

}

.about-preamble {
    font-size: 2em;
    color: #FF9C0C;
    font-weight: 500;
    letter-spacing: -0.5px;
    margin-top: 12px;
    margin-bottom: 25px;
}

.about-text {
    font-size: 1em;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 4rem; /* Chrome, Safari, Opera */
    -moz-column-gap: 4rem; /* Firefox */
    column-gap: 4rem;
    border-bottom: 1px rgb(237, 237, 237) solid;
    padding-bottom: 20px;
    font-family: "Open Sans";
    line-height: 1.8;
    color: rgb(82, 82, 82);
}



/* ----------- Offers ----------------- */
.squares{
    max-width: 1000px;
    margin: 0 auto;
}

.square{
    float:left;
    position: relative;
    width: 24.5%;
    padding-bottom: 24.5%; /* = width for a 1:1 aspect ratio */
    margin:0.25%;
    overflow:hidden;
    background-color: rgba(249, 246, 238, 0.93);
    margin-bottom: 2rem;
    border-radius: 10px;
}

.inner-content {
    position:absolute;
    height:80%; /* = 100% - 2*10% padding */
    width:90%; /* = 100% - 2*5% padding */
    padding: 10% 5%;
    text-align:center;
}

.table{
    display:table;
    height:100%;
    width:100%;
}
.table-cell{
    display:table-cell;
    vertical-align:middle;
    height:100%;
    width:100%;

    font-size: 2.5em;
    font-family: "Quicksand", sans-serif;
}

.come-in {
    transform: scale(0.5,0.5);
    opacity: 0;
    -webkit-animation: come-in 1.2s ease forwards;
    -moz-animation: come-in 1.2s ease forwards;
    animation: come-in 1.2s ease forwards;
}
@-webkit-keyframes come-in {
    to {
        transform: scale(1,1);
        opacity: 1;
    }
}

@keyframes come-in {
    to {
        transform: scale(1,1);
        opacity: 1;
    }
}

.squares-header{
    font-size: 4em;
    font-family: "Quicksand", sans-serif;
    font-weight: normal;
    margin-bottom: 30px;
    margin-top: 35px;
    text-align: center;
    /*text-transform: uppercase;*/
}


@media screen and (min-width: 801px) {

    /* Hide original text */
    .table-cell:hover { font-size: 0;
    }

    /* Replace original text with value in data-hover */
    .table-cell:hover:before {
        font-size: 18px;
        content: attr(data-hover);
    }
}

.square .fa {
    color: rgb(223, 223, 223);
}

/*--------------Nav ---------------------------*/
.site-nav {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 99;
    background-color: rgba(243, 242, 238, 0.82);
    background-color: rgba(255, 244, 213, 0.73);
    box-sizing: border-box;
    padding: 65px 80px 80px 0;
}
.site-nav ul {
    margin-left: 20px;
    margin-top: -40px;
    z-index: 9999;
}
.site-nav li {
    margin-bottom: 20px;
    list-style-type: none;
}
.site-nav a {
    color: #353535;
    text-decoration: none;
    font-size: 3em;
    font-family: "Quicksand", sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.fixed-header {
    position: absolute;
    width: 100%;
}

.fixed-header {
    padding: 35px 0 0 0;
    position: absolute;
    width: 100%;
}

.container {
    margin: auto;
    padding: 0 46px;
}

#toggle {
    width: 28px;
    height: 30px;
    cursor: pointer;
    z-index: 1000;
    position: relative;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#toggle div {
    width: 100%;
    height: 2px;
    background: #fff;
    margin: 8px auto;
    backface-visibility: hidden;
}
#toggle.on .one {
    -webkit-transform: rotate(45deg) translate(5px, 6px);
    -ms-transform: rotate(45deg) translate(5px, 6px);
    transform: rotate(45deg) translate(5px, 6px);
    background: #353535;
}

#toggle.on .two {
    opacity: 0;
}
#toggle.on .three {
    -webkit-transform: rotate(-45deg) translate(7px, -10px);
    -ms-transform: rotate(-45deg) translate(7px, -10px);
    transform: rotate(-45deg) translate(7px, -10px);
    background: #353535;
}

#toggle.on {
    position: fixed;
}

/*--------------Partners  ---------------------------*/
.partners-list {
    color: #ffffff;
    font-family: Quicksand, sans-serif;
    font-size: 2em;
    text-align: left;
    margin-top: 0;
}

#start.partner-start {
    flex-direction: column;
    justify-content: flex-start;

}

.partners-header {
    margin: 0
}

/*--------------Media queries ---------------------------*/
@media screen and (max-width: 1100px ) {

    .header-sub {
        display: block;
    }

    .wrapping-container {
        padding: 0 20px;
    }

    .about-preamble {
       font-size: 1.2em;
    }

    .square {
        width: 49%;
        padding-bottom: 49%;
        margin-bottom: 0;
    }

    .squares {
        width: 60%;
    }
    .table-cell {
        font-size: 1.6em;
    }

}

@media screen and (max-width: 800px ) {
    .header {
        font-size: 4em;
    }

    .table-cell {
        font-size: 1.0em;
    }

    .about-text {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    }

    .about-header,
    .references-header,
    .squares-header {
        font-size: 2.5em;
    }

    .items {
        width: 100%;
    }

    .left-item {
         padding-right: 0;
    }

    .right-item {
         padding-left: 0;
    }

    .items-header {
        font-size: 1.7em;
    }
    .items-preamble {
        font-size: 1.6em;
    }

    .squares {
        width: 80%;
    }


    .square-small:before {
        content: "SMALL: Ett prisvärt och lite enklare paket som likväl håller en utmärkt standard. Här hittar ni de primära funktionerna för er hemsida.";
    }

    .square-medium:before {
        content: "MEDIUM: Ett litet mer tillspetsat paket där ni har ännu större möjligheter. Här finns det mesta av det ni önskar i funktionsväg.";
    }
    .square-large:before {
        content: "LARGE: Ett val för er som kräver det bästa. Mängder av funktioner och fördelar som uppfyller de tuffa kraven hos en högdynamisk hemsida.";
    }

    .square-xl:before {
        content: "XL: Har ni önskemål som sträcker sig utöver våra ordinarie paket? Kanske en häpnadsväckande idé eller särskilda önskemål?";
    }

    /*hide service type and Font awesome since showing only the text on smaller screens */
    .service-type {
        display: none;
    }

    .squares .fa {
        display: none;
    }

    /*since flexbox doesnt work satisfying on mobile device, fix it with this */
    .flexbox-container {
        display: block;
    }

}
@media screen and (max-width: 500px) {
    .squares {
    width: 100%;
}
    .site-nav ul {
        margin-left: 6px;
    }
    .site-nav ul {
        margin-top: -28px;
        font-size: 0.5em;
    }

    .site-nav a {
        font-weight: bold;
    }
}

@media screen and (max-width: 400px) {
    .square {
    width: 100%;
    padding-bottom: 100%;
    }
    .square {
        margin-bottom: 20px;
    }
}